/complete_data/
/completeData/
/data_mydata/
/archive/
/Images/
/mini_data/
/myenv/
/processed/
./data/
/Images/
completeData.zip
classifier_w_audio_output.py
data.zip 
newmodel.p
processed.zip 
requirements1.txt 
keras_model.py
data_details.txt
data1.pickle
completeData.zip 
labels.txt 
*.h5
myvenv/
*.pickle
*.p
*.sav
*.zip
